{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<!--Menu de navigation-->
			{% block menu %}
			<div class="col-4">
				<div class="card bg-light">
				  <div class="card-body">
					<h1>Liste des stages</h1>
					{% block filtres %}
					
					{% endblock %}
					<h5>Filtrer par formation :</h5>
					<ul class="nav flex-column">
					  {% for formationCourante in formations %}
					  <li class="nav-item">
						<a class="nav-link active" aria-current="page" href={{path('stagesFormation',{idFormation:formationCourante.id})}}>{formationCourante.nom}</a>
					  </li>
					  {% endfor %}
					</ul>
					<h5>Filtrer par entreprise :</h5>
					<ul class="nav flex-column">
					  {% for entrepriseCourante in entreprises %}
					  <li class="nav-item">
						<a class="nav-link active" aria-current="page" href={{path('stagesEntreprise',{idEntreprise:entrepriseCourante.id})}}>{entrepriseCourante.nom}</a>
					  </li>
					  {% endfor %}
					</ul>
				  </div>
				</div>
			</div>
			{% endblock %}
			<!--Liste des stages-->
			<div class="col-8">
				<div class="card bg-secondary">
				  <div class="card-body">
					{% block liste %}
					<div class="row row-cols-1 row-cols-md-2 g-4">
					  {% for stageCourant in stages %}
					  <div class="col">
						<div class="card">
						  <div class="card-body">
							<h5 class="card-title">
								<a href={{path('detailStage',{id:stageCourant.id})}}>
									{{stageCourant.intitule}}
								</a>
							</h5>
							<h6 class="card-title">Proposé par :</h6>
							<p class="card-text">{{stageCourant.entreprise.nom}}</p>
							<h6 class="card-title">Pour les formations :</h6>
							<p class="card-text">
							{% for formationCourante in stageCourant.formations %}
								{{formationCourante.nom}}, 
							{% endfor %}
							</p>
						  </div>
						</div>
					  </div>
					  {% endfor %}
					</div>
					{% endblock %}
				  </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}